input.field, select.field {
  border: 1px solid #ccc;
  padding: 13px 10px;
  border-radius: 0px;
  width: 100%;
  margin-bottom: 15px !important;
  transition: 0.3s;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

select.field{
    cursor: pointer;
}

input.field:focus, select.field:focus {
  border: 1px solid #000 !important;
  outline: none;
}

input.field::placeholder {
  transition: 0.3s;
  font-size: 15px;
}

input.field:focus::placeholder {
  padding: 0px 15px !important;
}
.error-message {
  color: #ba2026;
  padding: 0 0 5px 0;
}
