.slider .swiper-button-next,
.slider .swiper-button-prev {
  background-color: #181818;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
}

.slider .swiper-button-next {
  right: -100px !important;
}
.slider .swiper-button-prev {
  left: -100px !important;
}

.slider:hover .swiper-button-next {
  right: 5px !important;
  transition: 0.3s;
}
.slider:hover .swiper-button-prev {
  left: 5px !important;
  transition: 0.3s;
}

.slider .swiper-button-prev:after,
.slider .swiper-button-next:after {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 991px) {
  .slider .swiper-button-next,
.slider .swiper-button-prev {
    display: none;
  }
}